<div class="card">
	<div class="card-header text-center fs-3 fw-bold">
		<div class="card-title">
			<i class="bi bi-people-fill"></i>
			Cereri de urmărire
		</div>
	</div>

	@if (ViewBag.CountToBeAccepted > 0) 
	{
		<div class="card-text text-center" style="padding-top: 10px;">
			@ViewBag.CountToBeAccepted cereri în așteptare
		</div>
		<hr />
		@* afisam cererile care trebuie sa fie acceptate *@
		<div class="d-flex flex-column justify-content-center align-items-center" style="gap: 20px; padding-bottom: 20px;">
		@foreach (var follow in ViewBag.ToBeAccepted)
		{
			<div class="card w-75">
				<div class="card-body text-center">
					<div class="card-text">
							<a href="/Users/Details/@follow.FollowerId" class="no-underline fw-bold">@follow.Follower.UserName</a> a cerut să te urmărească.
					</div>
				</div>
				<div class="card-footer d-flex justify-content-around">
					<form action="/Follows/Accept/@follow.FollowerId" method="post">
							<button type="submit" class="btn btn-outline-success bi bi-person-check-fill">
								Acceptă
							</button>
					</form>

					<form action="/Follows/Delete/@follow.FollowerId" method="post">
							<button type="submit" class="btn btn-outline-danger bi bi-trash3">
								Șterge
							</button>
					</form>
				
				</div>
			</div>

		}
		</div>
	}
	else 
	{
		<div>
			<div class="card-text text-center fs-4 bi bi-person-x" style="padding-top: 10px;">
				Nu ai cereri de urmărire!
			</div>
		</div>
	}

	@if(ViewBag.CountAccepted > 0) 
	{
		<div class="d-flex flex-column align-items-center justify-content-center" style="gap: 20px; padding-bottom: 20px;">
			<hr class="w-75" />
			@foreach(var follow in ViewBag.Accepted) 
			{
				<div class="card w-50">
					<div class="card-body text-center">
						<div class="card-text">
							<a href="/Users/Details/@follow.FollowerId" class="no-underline fw-bold">@follow.Follower.UserName</a> a început să te urmărească.
						</div>
					</div>
					<div class="card-footer bi bi-clock text-lg-end">
						@follow.Date.ToString("dd.MM.yyyy, HH:mm")
					</div>
				</div>
			}
		</div>
	
	}

</div>