@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<ul class="navbar-nav ms-auto">

	@if(signInManager.IsSignedIn(User))
	{
		var userId = userManager.GetUserId(User);
		var user = await userManager.FindByIdAsync(userId);
		<li class="nav-item">
			<a class="nav-link text-dark bi bi-search" asp-area="" asp-controller="Users" asp-action="Search">
				Caută
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark bi bi-people-fill" asp-area="" asp-controller="Follows" asp-action="Index" asp-route-id="@userId">
				Prieteni
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@userId">
				<img src="@user.Image" class="rounded-circle" style="width: 30px; height: 30px;"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-right"></i></a>
		</li>
	}

	else 
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Conectare</a>
		</li>

		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Înregistrare</a>
		</li>
	}


</ul>

