

<hr />
<p>@Model.Continut</p>
<small>@Model.Data</small>
<small>@Model.</small>

<br />
<a href="/Posts/Show/@Model.Id">Vezi mai mult</a>
<br />
<a href="/Posts/Edit/@Model.Id">Editeaza postarea</a>
<hr />