@{
	ViewBag.Title = "Afisarea postarilor";
}


<h2>@ViewBag.Title</h2>
<br />

@foreach (SocialMediaApp.Models.Post post in ViewBag.posts)
{
	<partial name="PostInfo" model="post"/>
	<a href="/Posts/Show/@post.Id">Vezi mai mult</a>
}


<a href="/Posts/New">Postare noua</a>