@{
	ViewBag.Title = "Afisarea articolelor";
}


<h2>@ViewBag.Title</h2>
<br />

@foreach (SocialMediaApp.Models.Post post in ViewBag.posts)
{
	<partial name="PostInfo" model="post"/>
}

<a href="/Posts/New">Postare noua</a>