html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.note-editor .dropdown-toggle::after {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    z-index: 1000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 50px;
    height: 50px;
}

.profile-card {
    height: 100vh;
    width: 100vw;
    border-block: 1px solid black;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.align-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 20px;
    gap: 10px;
}

.profile-title {
    font-size: 24px;
}

.counter .warning {
    color: red;
}

.post-image {
    width: 250px;
    height: 200px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.no-underline:hover{
    text-decoration: none;
}

.p-card:hover {
    background-color: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

.groupInfo:hover {
    transform: scale(0.98);
    cursor: pointer;
}