@model SocialMediaApp.Models.Group

@{
    ViewData["Title"] = "Grupuri";
    var userId = ViewBag.UserId;
}

<h2 class="text-center">Grupuri</h2>
<br />

<a href="/Groups/New" class="btn btn-success"><i class="bi bi-plus-lg"></i> Grup nou</a>

<br />
<br />

@if(ViewBag.Groups != null)
{
    <div class="row">
        @foreach (var group in ViewBag.Groups)
        {
            <div class="col-md-4 groupInfo" data-group-id="@group.Id">
                <partial name="GroupInfo" model="group" />
            </div>
        }
    </div>

}


