﻿@{
    ViewBag.Title = "Afisarea grupurilor";
}


<h2>@ViewBag.Title</h2>
<br />

@foreach (SocialMediaApp.Models.Group group in ViewBag.Groups)
{
    <partial name="GroupInfo" model="group" />
    <a href="/Groups/Show/@group.Id">Vezi mai mult</a>
    <br />
    <a href="/Groups/Edit/@group.Id">Editare grup</a>
    <form action="/Groups/Join/@group.Id" method="post" class="d-inline-block">

        <button class="btn btn-outline-primary" type="submit"> JOIN</button>

    </form>
}

<br />
<br />

<a href="/Groups/New">Grup nou</a>
