@model SocialMediaApp.Models.Group

<div class="fw-bold fs-3 text-center">Detalii despre grup</div>
<div class="d-flex justify-content-center">
    <hr style="width: 50%;" />
</div>

<br />

<partial name="GroupInfo" model="Model" />


@if (ViewBag.CanDeleteGroup)
{
    <div>
        <div class="d-flex flex-row justify-content-between">
            <form method="post" asp-controller="Groups" asp-action="Delete" asp-route-id="@Model.Id">
                <button class="btn btn-outline-danger bi bi-trash" type="submit"> Șterge</button>
            </form>

            <form asp-controller="Groups" asp-action="JoinRequests" asp-route-groupId="@Model.Id">
                <button class="btn btn-outline-success bi bi-pencil-square"> Moderează</button>
            </form>

            <form method="get" asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.Id">
                <button class="btn btn-outline-primary bi bi-pencil-square" type="submit"> Editează</button>
            </form>
        </div>
        <hr />

    </div>

}



@if (ViewBag.CanDeleteGroup || ViewBag.IsMember)
{
    <div class="d-flex flex-row justify-content-center" style="gap: 5rem;">
        <a class="btn btn-primary bi bi-plus-lg" href="/Posts/New?groupId=@Model.Id"> Postează</a>
        <a class="btn btn-success bi bi-people" href="/Groups/UsersinGroup/@Model.Id"> Membri</a>
        @if(!ViewBag.CanDeleteGroup) 
        {
            <form action="/Groups/Leave/@Model.Id" method="post">
                <button class="btn btn-outline-danger bi bi-box-arrow-left" type="submit"> Ieși din grup</button>
            </form>
        }
    </div>
    <br />

    <div class="text-center fs-4 fw-bold">Postări</div>
    <hr />
    @if (Model.Posts != null)
    {
        @foreach (var post in Model.Posts)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <partial name="PostInfo" model="post" />
                    <br />
                    <div class="d-flex justify-content-center gap-5">
                        <form action="/Posts/Show/@post.Id" method="get" class="d-inline-block">
                            <button type="submit" class="btn btn-info">Vezi mai mult</button>
                        </form>
                        @if(ViewBag.userId == post.UserId)
                        {
                            <form action="/Posts/Edit/@post.Id" method="get" class="d-inline-block">
                                <button type="submit" class="btn btn-info">Editează</button>
                            </form>
                        }
                    </div>
                </div>

            </div>
        }
    }
    else
    {
        <p>No posts available.</p>
    }

}

else 
{
    <div class="d-flex justify-content-center">
        @if (ViewBag.JoinRequest)
        {
            <div class="d-flex gap-2">
                <button class="btn btn-outline-secondary bi bi-send" disabled> Cererea a fost trimisă</button>
                <form action="/Groups/Leave/@Model.Id" method="post">
                    <button class="btn btn-outline-danger bi bi-trash3" type="submit"> Anulează</button>
                </form>

            </div>

        }

        else
        {
            <form action="/Groups/Join/@Model.Id" method="post" class="d-inline-block">
                <button class="btn btn-outline-primary bi bi-person-plus" type="submit"> Alătură-te</button>
            </form>
        }
    </div>


}

<br />
<br />

<form>
    <button class="btn btn-success bi bi-arrow-left" type="submit"> Înapoi</button>
</form>


