﻿@{
	ViewBag.Title = "Afisarea tagurilor";
}


<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
	<h1>@ViewBag.message</h1>
}

<a href="/Posts/Index">Inapoi la postari</a>
<br />
<br />

@foreach (SocialMediaApp.Models.Tag tag in @ViewBag.Tags)
{
	<partial name="TagInfo" model="tag" />
	<a href="/Tags/Show/@tag.Id">Detalii</a>
}

<a href="/Tags/New">Tag nou</a>
