@model SocialMediaApp.Models.Tag

@{
    ViewData["Title"] = "Adăugare";
}

<div class="d-flex flex-column align-items-center">
    <div class="fs-3 fw-bold">Adaugă o etichetă</div>

    <hr style="width: 50%"/>
    <br />

    <form asp-action="New" asp-controller="Tags" method="post">

        <div class="form-group">
            <label asp-for="Denumire" class="form-label">Denumire</label>
            <br />
            <input asp-for="Denumire" class="form-control" />
            <span asp-validation-for="Denumire" class="text-danger"></span>
        </div>

        <br />
            <button class="btn btn-success" type="submit">Adaugă</button>

    </form>
</div>
    

