@model SocialMediaApp.Models.Tag

@{
    ViewBag.Title = "Adaugare Tag";
}
<h2>Adaugare Tag</h2>

<form asp-action="New" asp-controller="Tags" method="post">

    <div class="form-group">
        <label asp-for="Denumire" class="form-label">Denumire tag</label>
        <br />
        <input asp-for="Denumire" class="form-control" />
    </div>

    <br /><br />
    <button class="btn btn-success" type="submit">Adauga tag</button>
</form>