@using System.Linq
@model SocialMediaApp.Models.Tag

@{
    ViewData["Title"]= "Postări";
}

<div class="fs-3 fw-bold text-center">Postări cu eticheta @Model.Denumire</div>
<hr />

@if(User.IsInRole("Admin"))
{
    <form asp-controller="Tags" asp-action="Index" method="get">
        <button class="btn btn-success" type="submit">
            <i class="bi bi-arrow-left"></i>
            Înapoi
        </button>
    </form>
}


<br />
@if (ViewBag.NoPosts > 0)
{

    @foreach (var post in ViewBag.Posts)
    {
        <div class="card mb-3">
            <div class="card-body">
                <partial name="PostInfo" model="post" />
                <br />
                <div class="d-flex justify-content-center gap-5">
                    <form action="/Posts/Show/@post.Id" method="get" class="d-inline-block">
                        <button type="submit" class="btn btn-info">Vezi mai mult</button>
                    </form>

                    <form action="/Posts/Edit/@post.Id" method="get" class="d-inline-block">
                        <button type="submit" class="btn btn-info">Editeaza</button>
                    </form>
                </div>
            </div>
        </div>
    }

}
else
{
    <div class="d-flex vh-100 align-items-center justify-content-center">
        <div class="fs-2 fw-bold">
            <i class="bi bi-ban"></i>
            Nu există postări cu această etichetă
        </div>
    </div>
   
}

<br />